{% extends 'base.html' %}
{% load static %}
{% block body %}
<main>
  <section class="py-5 text-center container align-items-center">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
            <circle cx="12" cy="13" r="4"/>
          </svg>
          <h1><strong>Albums</strong></h1>
        </div>
        <hr>
        <p>
          <a href="{% url 'addimages' %}" class="btn btn-primary btn-sm p-4"><i class="fa-solid fa-plus"></i> Click Me To Add Album <i class="fa-regular fa-face-smile"></i></a> 
        </p>
        <p class="lead text-body-secondary">
          <h4>Babies Precious Life Memories Journey</h4>
        </p>
      </div>
    </div>
  </section>
 
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for gallery in gallery %}
        {% if gallery.author == request.user %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <img src="{{gallery.banner.url}}" class="card-img-top img-fluid rounded mb-3" alt="Banner Image">
              <strong><p class="card-text fw-bold">{{gallery.title}}</p></strong>
              <p class="card-text">{{gallery.name}} Album | {{gallery.age}}</p>
              <p class="card-text">{{gallery.desc}}</p>
              <small class="text-muted">{{gallery.created_at}} | <i>Location {{gallery.location}}</i> </small>
              <div class="btn-group mt-2">
                <a href="{% url 'gallerydetail' gallery.id %}" class="btn btn-sm btn-outline-secondary">View More Pics</a>
                <a href="{% url 'galleryadd' gallery.id %}" class="btn btn-sm btn-outline-secondary">Add Images</a>
                <a href="{% url 'albumedit' gallery.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'delete' gallery.id %}" class="btn btn-sm btn-outline-secondary">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No Albums Yet</p>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
