{% extends 'base.html'%}
{% block body %}
    <div class="container mt-4">
        <h3 class="mb-4">Our Mission</h3>
        <p>At Memories Journey Album, our mission is to provide you with a secure and user-friendly platform where you can create and store beautiful photo albums, capturing the most precious moments of your life. Whether it's birthdays, weddings, family vacations, or everyday adventures, our platform is designed to help you relive and share these special memories with your loved ones for years to come.</p>

        <h3 class="mt-5 mb-4">Features</h3>  
        <ul class="list-group">
            <li class="list-group-item">
                <strong>User-friendly Interface:</strong> Our intuitive interface makes it easy for you to create and manage your photo albums effortlessly.
            </li>
            <li class="list-group-item">
                <strong>Secure Storage:</strong> We prioritize the security and privacy of your photos. Your albums are securely stored in our database, ensuring that only you and authorized users can access them.
            </li>
            <li class="list-group-item">
                <strong>Customizable Albums:</strong> Personalize your albums with custom titles, descriptions, and locations, allowing you to add context and meaning to your photos.
            </li>
            <li class="list-group-item">
                <strong>Life Tracking:</strong> Track your life's journey by organizing your albums chronologically or by events, making it easy to revisit and reflect on past experiences.
            </li>
            <li class="list-group-item">
                <strong>Sharing and Collaboration:</strong> Share your albums with friends and family, or collaborate on albums with others to create collective memories.
            </li>
        </ul>
        
        <p class="mt-5"><strong>Get Started</strong> Ready to start preserving your memories? Sign up for an account today and begin creating your first photo album. Join our community of users who are capturing life's moments one photo at a time.</p> 
        
        <p><strong>Contact Us</strong> Have questions or feedback? We'd love to hear from you! Reach out to our support team at <a href="mailto:support@albumproject.com">support@albumproject.com</a> and we'll be happy to assist you.</p> 
    </div>
{% endblock %}
