{% extends 'base.html' %}
{% block body %}
<div class="container my-4" style="min-height: 100vh; display: flex; justify-content: center;">
    <div class="content-section">
        <h2>Reset Password</h2>
        <p>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one</p>
        <form action="" method="post">
            {% csrf_token %}
            {{form.email}} <br>
            {{form.captcha}} <br>
            <input type="submit" value="Send Email" class="btn btn-sm btn-outline-info">
        </form>
    </div>
</div>
    
{% endblock %}