{% extends 'base.html' %}
{% block body %}
<style>
    .custom-input {
        width: 600px;
    }
</style>
    <div class="container mt-4" style="min-height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="mt-4">
           <h2 class="text-center">Update Your Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update">
        </form> 
        </div>
        
    </div>
{% endblock %}